{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">
			<form id="form">
				<!--{% csrf_token %}-->
				<div id="user-info">
					<div class="form-field"> <!--form-field: CSS class-->
						<input required class="form-control" type="text" name="name" placeholder="Name..">
						<!--it is like label for enter name-->
					</div>
					<div class="form-field">
						<input required class="form-control" type="email" name="email" placeholder="Email..">
						<!--it is like label for enter email-->
					</div>
				</div>

				<div id="shipping-info">
					<hr> <!-- a light gray line -->
					<p>Shipping Information:</p>
					<hr>
					<div class="form-field">
						<input class="form-control" type="text" name="address" placeholder="Address..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="city" placeholder="City..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="state" placeholder="State..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="country" placeholder="Zip code..">
					</div>
				</div>

				<hr>
				<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
			</form>
		</div>

		<br>
		<div class="box-element hidden" id="payment-info"> <!--hidde button --> <!--box-element hidden: CSS class-->
			<small>Paypal Options</small>
			<!--<button id="make-payment">Make payment</button>-->
			<div id="paypal-button-container"></div>
		</div>

	</div>

	<div class="col-lg-6">
		<div class="box-element">
			<a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
			<hr>
			<h3>Order Summary</h3>
			<hr>

			{% for item in items %}
			<div class="cart-row">
				<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
				<div style="flex:2">
					<p>{{item.product.name}}</p>
				</div>
				<div style="flex:1">
					<p>${{item.product.price|floatformat:2}}</p>
				</div>
				<div style="flex:1">
					<p>x{{item.quantity}}</p>
				</div>
			</div>
			{% endfor %}
			<h5>Items: {{order.get_cart_items}}</h5>
			<h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>

		</div>
	</div>
</div>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AVGIHwuwUUhQd5T3yXiSh55G-7757U-9aD8yBaX8iLo8JTkLYz-ABQN3VIbGYGslvZe3VRDw0bYjBdhe&currency=USD"></script>   <!-- script tag for the paypal API. This will give us access to the paypal checkout API.-->   <!--replace “client-id=sb” with what your apps client id-->
<!-- <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&disable-funding=credit"></script> | Disable Credit card option by adding  (&disable-funding=credit) after USD-->

<script>

	// Trigger Paypal Checkout → User Makes Payment → On Payment success “submitFormData()”

	var total = '{{order.get_cart_total}}'

	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({

		// Style attributes
		style: {
			color: 'blue',
			shape: 'rect',
		},

		// Set up the transaction
		createOrder: function (data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value:parseFloat(total).toFixed(2)    // value is a string we will need to convert it to a float and then ensure that we only have two decimal places to the right. 


					}
				}]
			});
		},

		// Finalize the transaction
		onApprove: function (data, actions) {
			return actions.order.capture().then(function (details) {
				// Show a success message to the buyer
				alert('Transaction completed by ' + details.payer.name.given_name + '!');
				submitFormData()
			});
		}


	}).render('#paypal-button-container');  // This is where we assign where the buttons should be added. 
</script>

<script type="text/javascript">
	var shipping = '{{order.shipping}}'   // shipping=False or shipping=True
	var total = '{{order.get_cart_total|floatformat:2}}'

	if (shipping == 'False') {     // False here is string value so we need to convert it 
		document.getElementById('shipping-info').innerHTML = ''       // ('shipping-info') is shapping Id , this for remove the shipping information form 
	}

	if (user != 'AnonymousUser') {        //it means user is logged in
		document.getElementById('user-info').innerHTML = ''      // then hide name and email fields
	}

	if (shipping == 'False' && user != 'AnonymousUser') {      // If a user is logged in AND Item does NOT need shipping → Hide form & Open Payment option.
		//Hide entire form if user is logged in and shipping is false
		document.getElementById('form-wrapper').classList.add("hidden");
		//Show payment if logged in user wants to buy an item that does not require shipping
		document.getElementById('payment-info').classList.remove("hidden");
	}

	var form = document.getElementById('form')

	//csrftoken = from.getElementByTagName("input")[0].value   //get all input fields start from the first 
	console.log('Newtoken:', form.getElementsByTagName("input")[0].value)

	form.addEventListener('submit', function (e) {
		e.preventDefault()
		console.log('Form Submitted...')
		document.getElementById('form-button').classList.add("hidden");       // after submit data make the submint button hidde
		document.getElementById('payment-info').classList.remove("hidden");   // make the payment button apper
	})

	/*document.getElementById('make-payment').addEventListener('click', function (e) {
		submitFormData()    // make the proccess order
	})*/

	function submitFormData() {
		console.log('Payment button clicked')

		var userFormData = {
			'name': null,
			'email': null,
			'total': total,
		}

		var shippingInfo = {
			'address': null,
			'city': null,
			'state': null,
			'zipcode': null,
		}

		if (shipping != 'False') {
			shippingInfo.address = form.address.value
			shippingInfo.city = form.city.value
			shippingInfo.state = form.state.value
			shippingInfo.zipcode = form.zipcode.value
		}

		if (user == 'AnonymousUser') {
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		console.log('Shipping Info:', shippingInfo)
		console.log('User Info:', userFormData)

		// Send POST Data
		var url = "/process_order/"     // we need to send data to /process_order 
		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'applicaiton/json',
				'X-CSRFToken': csrftoken,
			},
			body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo }),  //pasing shipping and user informations, sending data to backend

		})
			// send the user back to home page
			.then((response) => response.json())
			.then((data) => {
				console.log('Success:', data);
				alert('Transaction completed');

				// (Clear cookie) .let's clear cart when our payment button/form is successfully submitted. To do this we will set cart to an empty dictionary and update our cookie.
				cart = {}
				document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

				//send the user back to our main page
				window.location.href = "{% url 'store' %}"

			})
	}
</script>
{% endblock content %}